<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Giriş Ekrani</title>
    <meta charset="UTF-8">
</head>
<body>

<h2>Giriş Yap</h2>

<form method="post" action="/login">
    
    <div>
        <label>Email:</label>
        <input type="email" name="username" required>
    </div>

    <div>
        <label>Şifre:</label>
        <input type="password" name="password" required>
    </div>

    <button type="submit">Giriş Yap</button>
</form>

<p>
    Hesabın yok mu? <a href="/register">Kayıt Ol</a>
</p>

</body>
</html>