<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Kayıt Ol</title>
    <meta charset="UTF-8">
</head>
<body>

<h2>Kayıt Ol</h2>

<form method="post" th:action="@{/register}" th:object="${registerRequest}">

    <div>
        <label>Ad Soyad:</label>
        <input type="text" th:field="*{fullName}" required>
        <span th:if="${#fields.hasErrors('fullName')}" th:errors="*{fullName}"></span>
    </div>

    <div>
        <label>Email:</label>
        <input type="email" th:field="*{email}" required>
        <spam th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></spam>
    </div>

    <div>
        <label>Şifre:</label>
        <input type="password" th:field="*{password}" required>
        <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
    </div>

    <button type="submit">Kayıt Ol</button>
</form>

<p>
    Zaten hesabın var mı? <a href="/login">Giriş Yap</a>
</p>

</body>
</html>